{% extends "index.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate "Tasks" %}</h1>

    <a class="btn btn-primary mb-3" href="/tasks/create/" role="button">{% translate "Create task" %}</a>
    <div class="card mb-3">
      <div class="card-body bg-light">
        <form method="get">
          {% csrf_token %}
          {% bootstrap_form filter.form %}

          <input class="btn btn-primary" type="submit" value="{% translate 'Show' %}">
        </form>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>{% translate "Name" %}</th>
          <th>{% translate "Status" %}</th>
          <th>{% translate "Author" %}</th>
          <th>{% translate "Executor" %}</th>
          <th>{% translate "Creation Date" %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
          <tr>
            <td>{{ task.id }}</td>
            <td>
              <a href="{% url 'task_detail' task.id %}">{{ task.name }}</a>
            </td>
            <td>{{ task.status.name }}</td>
            <td>{{ task.created_by.username }}</td>
            <td>{{ task.executor.username }}</td>
            <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
          <td>
            <a href="{% url 'task_update' task.id %}">{% translate "Update" %}</a>
            <br>
            <a href="{% url 'task_delete' task.id %}">{% translate "Delete" %}</a>
          </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}