{% extends "index.html" %}
{% load i18n %}
{% load django_bootstrap5 %}


{% block content %}
  <div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate "View Task" %}</h1>
    
    <div class="card">
      <div class="card-header bg-secondary text-white">
        <h2>{{ task.name }}</h2>
      </div>
      <div class="card-body bg-light">
        <p>{{ task.description }}</p>
        <hr>
        <div class="container">
          <div class="row p-1">
            <div class="col">{% translate "Creator" %}</div>
            <div class="col">{{ task.created_by.first_name }} {{ task.created_by.last_name }}</div>
          </div>
          <div class="row p-1">
            <div class="col">{% translate "Executor" %}</div>
            <div class="col">
                {% if task.executor %}
                    {{ task.executor.first_name }} {{ task.executor.last_name }}
                {% else %}
                    None
                {% endif %}
        </div>
          </div>
          <div class="row p-1">
            <div class="col">{% translate "Status" %}</div>
            <div class="col">{{ task.status.name }}</div>
          </div>
          <div class="row p-1">
            <div class="col">{% translate "Creation Date" %}</div>
            <div class="col">{{ task.created_at|date:"d.m.Y H:i" }}</div>
          </div>
          <div class="row p-1">
            <div class="col">
              <h6>{% translate "Labels" %}:</h6>
              <ul>
                {% for label in task.labels.all %}
                  <li>{{ label.name }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="row p-1">
            <div class="col">
              <a href="{% url 'task_update' task.id %}">{% translate "Update" %}</a>
              <br>
              <a href="{% url 'task_delete' task.id %}">{% translate "Delete" %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}