{% load i18n %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% translate "Task Manager"  %}{% endblock %}</title>
    {% bootstrap_css %}

</head>
<body>

{% include 'navbar.html' %}

{% block bootstrap5_content %}
<h1 class="my-4"></h1>
<div class="card">
  <div class="card-body p-5 bg-light">
    <div class="display-4">{% translate "Greetings from Hexlet!" %}</div>
    <p class="lead">{% translate "Practical programming courses" %}</p>
    <hr>
    <a class="btn btn-primary btn-lg" href="https://ru.hexlet.io">{% translate "Find out more" %}</a>
  </div>
</div>
{% endblock %}

{% bootstrap_javascript %}
</body>
</html>