{% load i18n %}
{% load django_bootstrap5 %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% translate "Task Manager"  %}{% endblock %}</title>
    {% bootstrap_css %}
</head>
<body>

{% include 'navbar.html' %}
     <div class="container wrapper flex-grow-1">
    {% bootstrap_messages %}
     </div>
{% block content %}
{% endblock %}

{% bootstrap_javascript %}
</body>
</html>
